@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Questrial&display=swap);

$gray-color: #313131;
$hover-color: #ff5672;
$main-color: #fc758c;
$montserrat-font: 'Montserrat', sans-serif;
$questrial-font: 'Questrial', sans-serif;
$transparent: transparent;
$white-color: #fff;

